{% extends "article/base.html.twig" %}

{% block title %}Om UDL | UDL.no{% endblock %}
{% block hero_text %}Om UDL{% endblock %}
{% block meta_description %}Om UDL{% endblock %}

{% block article %}
    <h3>Om UDL</h3>
    <p>
        Nettstedet og videoer for UDL er laget og driftet av Aleksander L. Rasch.
    </p>

    <h3>Om meg</h3>
    Jeg er utdannet dataingeniør med en spesiell interesse for matematikk. Til daglig jobber jeg som
    programvareutvikler, og bruker deler av fritida på å lage videoer og andre former for læremateriale for UDL.

    <h3>Bakgrunn</h3>
    <p>
        Utviklere av Digitale Læremidler (UDL) er et foretak jeg starta rundt ideen om å lage gratis læremateriale
        for studenter på alle nivå. Det starta som bare en YouTube-kanal der jeg laga mattevideoer og lasta de opp
        til fordel for studenter i min egen klasse.
    </p>

    <p>
        Dette nettstedet er resultatet av at jeg ikke hadde mulighet på YouTube til å kategorisere videoene i så
        stor grad som jeg ønsket. Med et nettsted med egen database bak, så kunne jeg lage et bibliotek av videoene
        akkurat slik jeg ville ha det.
    </p>

    <h3>Mål</h3>
    <p>
        Både det kortsiktige og langsiktige målet er å fortsette å lage læremateriale, i form av videoer og
        artikler.
    </p>
{% endblock %}
