{% extends "article/base.html.twig" %}

{% block hero_text %}
    Kontakt
{% endblock %}


{% block content %}
    <div class="col-10 offset-1 col-xl-8 offset-xl-2 lead">
        <p>
            Hvis du ønsker å komme i kontakt, så har vi en
            <a href="https://discord.gg/QpHbVD5qav" aria-label="UDL.no's discord-server">Discord</a>.
            Jeg henger ofte der selv, så om du ønsker å prate med andre studenter på samme nivå, eller eventuelt
            slå av en prat med meg personlig, så er det riktig sted.
        </p>

        <p>
            Du kan også sende meg en epost på
            <a href="mailto:aleksander@udl.no">aleksander@udl.no</a>.
        </p>
    </div>
{% endblock %}
