{% extends "about/base.html.twig" %}

{% block title %}Donere | UDL.no{% endblock %}
{% block hero_text %}Donere til UDL{% endblock %}
{% block meta_description %}Hvordan donere eller bidra til UDL.{% endblock %}

{% block article %}
    <h3>Donasjoner</h3>
    <p>
        Du kan donere direkte til UDL ved å Vippse til #724881 (Rasch Utdanning og Opplæring, org.nr: 913911164).
    </p>

    <h3>Pensumbøker</h3>
    <p>
        Har du pensumbøker du ikke trenger? Kanskje tilhører de et gammelt pensum og er vanskelig å få solgt?
    </p>

    <p>
        Jeg tar mer enn gjerne imot donerte pensumbøker også, både på grunnskole-, VGS-, og høyskole-/universitetsnivå.
        Det hjelper meg å produsere videomateriale som er i tråd med forventningene i hvert fag.
    </p>

    <p>
        Dersom jeg ender opp med flere av samme bøker, så vil disse doneres videre til

    </p>
    <ul>
        <li>frivillighetssentraler som driver med leksehjelp for vanskeligstilte</li>
        <li>direkte til studenter som ikke har råd til pensumbøker</li>
        <li>lokale bibliotek, slik at de kan lånes ut gratis</li>
    </ul>
    <p>
        Det er viktig at gamle bøker ikke anses som verdiløse og kastes! Gamle bøker inneholder fremdeles nyttig
        kunnskap, blant annet for de som driver med egenopplæring. Og det å kaste disse er sløsing av både denne
        kunnskapen, og papirmaterialet det er printet på.
    </p>

    <p>
        Ved å donere bøker til frivillighetssentraler, bibliotek, studenter, eller UDL, så bidrar du til å resirkulere
        på en enda mer bærekraftig måte.
    </p>

    <p>
        Ta gjerne <a href="{{ path("contact") }}">kontakt</a> hvis du har bøker du ønsker å donere, eller hvis du har
        spørsmål.
    </p>
{% endblock %}