{% extends "about/base.html.twig" %}

{% block title %}FAQ | UDL.no{% endblock %}
{% block hero_text %}Ofte stilte spørsmål{% endblock %}
{% block meta_description %}
    Ofte stilte spørsmål til UDL.no
{% endblock %}


{% block article %}
    <h3>Hva bruker du av utstyr til å lage videoer?</h3>
    <p>
        Jeg tegner på et tegnebrett, inn i Photoshop, og gjør skjermopptak/livestreams med OBS Studio.
    </p>

    <h3>Hva koster det å komme i gang med å lage videoer?</h3>
    <p>
        Det trenger ikke koste mye. Mitt første tegnebrett kosta rundt 700 kroner, og varte i 5 år. Det fungerer enda
        men jeg kjøpte et større et.
    </p>
    <p>
        Photoshop koster litt, men du trenger det ikke. SmoothDraw er et fint gratis alternativ til å begynne med.
        Hovedsaken er at disse programmene reagerer på hvor hardt du trykker ned penna slik at du får myke pennestrøk
        og ikke pikselert styggedom (som i MS Paint).
    </p>
    <p>
        OBS er gratis uansett, og sannsynligvis det beste alternativet selv sammenliknet med andre, dyre programvarer.
    </p>

    <h3>"Kan du lage videoer til faget jeg skal ta neste semester?"</h3>
    <p>
        Det er fullt mulig. De fleste ting som blir forespurt er ting jeg allerede har lyst til å lage
        videoer om. Men jeg kan aldri si når jeg blir å starte på det, og heller ikke når det blir ferdig.
        Derfor er det ofte at de som sender forespørsler om hele fag er ferdige med det faget innen jeg
        rekker å lage videoer.
    </p>

    <p>
        Men jeg setter likevel pris på forespørslen. Det gir meg en indikasjon på hva som er ønsket.
        Dersom du sender en forespørsel, så er det sannsynlig at du prater for mange andre, og det er
        verdifull informasjon når jeg skal velge neste prosjekt.
    </p>

    <h3>"Kan du lage en video om (...)?"</h3>
    <p>
        Hvis det er en spesiell regneteknikk du sliter med, eller et konsept som ikke helt sitter, så er det
        mulig jeg kan hjelpe til med det. Ofte hender det seg at jeg kan vise til en eller flere videoer jeg
        allerede har laget om det. Andre ganger mangler det, men kanskje jeg kan lage det. Ta gjerne kontakt
        og spør.
    </p>

    <h3>"Kan du løse en oppgave for meg?"</h3>
    <p>
        Hvis du trenger hjelp med en oppgave så kan du også hoppe innom
        <a href="https://discord.gg/QpHbVD5qav" aria-label="UDL.no's discord-server">Discord-serveren</a>.
        Jeg henger ofte der selv og hjelper til med opppgaver, men det finnes også andre som
        gjerne hjelper til med oppgaver.
    </p>

    <h3>"Jeg har et annet spørsmål"</h3>
    <p>
        Som nevnt over, så er
        <a href="https://discord.gg/QpHbVD5qav" aria-label="UDL.no's discord-server">Discord</a>
        en fin plass å ta kontakt. Dersom Discord ikke er helt din greie, så kan du også sende en god gammeldags
        epost til <a href="mailto:aleksander@udl.no">aleksander@udl.no</a>.
    </p>
{% endblock %}
