{% extends "about/base.html.twig" %}

{% block title %}Privat undervisning | UDL.no{% endblock %}
{% block hero_text %}Privat undervisning{% endblock %}
{% block meta_description %}Privat undervisning{% endblock %}

{% block article %}
    <h3>Format</h3>
    <p>
        Jeg tilbyr privat undervisning i form av videoer. Hvis du allerede er kjent med UDL-videoene, så er det dette du
        kan bestille, men du bestemmer hva innholdet skal være. Det kan for eksempel være
    </p>
    <ul>
        <li>Løsning til en matematikk-, fysikk-, eller programmeringsoppgave</li>
        <li>Forklaring av et konsept</li>
        <li>Starthjelp med norsk eller engelsk stil/essay/særemne</li>
        <li>Gjennomlesing, rettskriving, korrigering av norsk eller engelsk stil/essay/særemne</li>
        <li>Noe annet? Ta gjerne kontakt! Det koster ingenting å prate.</li>
    </ul>

    <p>
        Du kan være så spesifikk du vil med det du lurer på. Hvor står du fast på oppgaven? Hva er det med et konsept du
        ikke forstår? Eller er du helt ny til konseptet, og vil ha en forklaring fra bunnen av? Eventuelt, har du bare
        tidspress på ei øving, eller ønsker å fokusere på noe annet?
    </p>

    <p>
        Alle grunner er gyldige. Her er det du som bestemmer.
    </p>

    <h3>Hvordan fungerer det?</h3>
    <p>
        Enkelt. Vi prater sammen; det koster ingenting, og du er ikke pliktig å kjøpe noe. Hvis du trenger noe jeg kan
        tilby, så blir vi enige om en pris. Og hvis jeg ikke kan tilby det du trenger til en OK pris, så betaler du
        selvfølgelig ingenting.
    </p>

    <h3>Pris</h3>
    <p>
        Priser varierer med etterspørsel. Dette er nåværende priser.
    </p>
    <ul>
        <li>
            <strong>NOK 100,-</strong> Videogjennomgang av oppgaveløsning matematikk/fysikk/programmering. Kan variere
            med nivå og størrelse. Pris er per deloppgave dersom oppgaven er oppdelt.
        </li>
        <li>
            <strong>NOK 300,-</strong> Videogjennomgang av et konsept på ~15 minutter, tilrettelagt spesifikt for deg.
        </li>
        <li>
            <strong>NOK 300,-</strong> Gjennomlesing, rettlesing, korrigering av stil/essay/særemne. Norsk eller
            engelsk.
        </li>
        <li>
            <strong>NOK ??,-</strong> Noe som ikke står i lista? Ta kontakt så diskuterer vi.
        </li>
    </ul>

    <h3>Betaling</h3>
    <p>
        Betaling skjer med Vipps. Hvis du ikke har Vipps, så finner vi en annen løsning.
    </p>
{% endblock %}
