{% extends "base/base.html.twig" %}

{% import "common/macros/buttons.html.twig" as buttons %}

{% block hero_text %}UDL - Gratis mattevideoer og leksehjelp{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% for chunk in disciplines %}
                <div class="col-lg-4 card">
                {% for discipline in chunk %}
                        <a href="{{ path('discipline', { slug: discipline.url_slug}) }}">
                            <h5 class="card-header">{{ discipline.name }}</h5>
                        </a>
                {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/home.css') }}" rel="stylesheet"/>
{% endblock %}
