{% extends "base/base.html.twig" %}

{% block hero_text %}{{ discipline.name }}{% endblock %}
{% block subtext %}{{ discipline.description | nl2br }}{% endblock %}

{% block content %}
    <div class="row">
        {% for chunk in playlists %}
            <div class="col-lg-4 card">
                {% for playlist in chunk %}
                    <a href="{{ path('playlist', {
                        discipline_slug: discipline.url_slug,
                        playlist_slug: playlist.url_slug
                    }) }}">
                        <h5 class="card-header">{{ playlist.name }}</h5>
                    </a>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
