{% extends "base/base.html.twig" %}

{% block hero_text %}{{ playlist.name }}{% endblock %}

{% block content %}
    <div class="row">
        {% for chunk in videos %}
            <div class="col-lg-4 card">
                {% for video in chunk %}
                    <a href="{{ path('video', {
                        video_slug: video.url_slug,
                        playlist_slug: playlist.url_slug,
                        discipline_slug: discipline.url_slug
                    }) }}">
                        <h5 class="card-header">{{ video.name }}</h5>
                    </a>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
