footer {
    margin-top: 15px;
    padding-top: 15px;
}

.logo-container {
    text-align: center;
}

.hero-text-container {
    padding-bottom: 20px;
}

.udl-logo {
    width: 100%;
    max-width: 200px;
}

h1.display-5 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}

/* Extra small devices */
@media (max-width: 575px) {  }

/* Small devices (tablets) */
@media (min-width: 576px) {  }

 /* Medium devices (tablets) */
@media (min-width: 768px) {  }

 /* Large devices (desktops) */
@media (min-width: 992px) {  }

 /* Extra large devices (large desktops */
@media (min-width: 1200px) {  }

.hero-text {
    padding-top: 20px;
    text-align: center;
}

a h5.card-header{
    color: #00ffbe;
}

body {
    overflow-x: hidden;
}

p.description {
    text-align: center;
    padding-bottom: 10px;
}
