div.article-discipline {
    padding-bottom: 20px;
}

div.paragraph {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

div.exam-problem {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: white solid 1px;
}

div.article-subheading {
    border-top: 2px solid grey;
    padding-top: 10px;
    text-align: center;
}

div.problem-text {
    background-color: #303030;
    padding: 20px;
    margin-bottom: 5px;
    border-radius: 25px;
}

img.article-image-half-size {
    width: 50%;
    max-width: 500px;
    height: auto;
    position: relative;
}

img.article-image-wide {
    width: 100%;
    max-width: 750px;
    height: auto;
    position: relative;
}

td,th {
    text-align: center;
    vertical-align: middle;
}

div.lead h2 {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

/* Extra small devices */
@media (max-width: 575px) {
    p.lead {
        font-size: 1rem;
    }

    div.lead {
        font-size: 1rem;
    }
}

/* Small devices (tablets) */
@media (min-width: 576px) {
}

/* Medium devices (tablets) */
@media (min-width: 768px) {
}

/* Large devices (desktops) */
@media (min-width: 992px) {  }

/* Extra large devices (large desktops */
@media (min-width: 1200px) {  }

@media (min-width: 1600px) {
    p.lead {
        font-size: 1.4rem;
    }

    div.lead {
        font-size: 1.4rem;
    }
}
