{% extends "article/base.html.twig" %}
{% block title %}Definisjonsmengde | UDL.no{% endblock %}
{% block hero_text %}Definisjonsmengde og verdimengde{% endblock %}
{% block meta_description %}
    Lær hva definisjonsmengde er, og hvordan vi finner definisjonsmengden til en gitt funksjon.
{% endblock %}

{% block article %}
    <p>Vi ser først på hva definisjonsmengde er.</p>
    <p>
        Definisjonsmengden til en funksjon er, kort fortalt, mengden av alle verdier du kan
        sette inn i funksjonen, og få et resultat ut. Hvis du har en funksjon $f(x)$, så er definisjonsmengden
        svaret på spørsmålet: "Hvilke verdier kan vi sette inn for $x$ her?" - La oss ta et eksempel.
    </p>
    <p>
        La $f(x) = x^2$. Det vi vet om denne funksjonen, er at den er definert for alle reelle tall, både negative,
        positive, og 0. Vi kan se eksempler på dette ved å sette noen prøveverdier i en tabell.
    </p>
    <div class="row justify-content-center lead">
            <table class="table table-striped table-bordered table-sm" style="width:50%">
                <thead>
                    <tr>
                        <th style="width: 50%;">$x$</th>
                        <th style="width: 50%;">$f(x)$</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>$-2$</td>
                        <td>$4$</td>
                    </tr>
                    <tr>
                        <td>$0$</td>
                        <td>$0$</td>
                    </tr>
                    <tr>
                        <td>$4$</td>
                        <td>$16$</td>
                    </tr>
                </tbody>
            </table>
    </div>

    <p>
        Hvordan skriver vi det matematisk at funksjonen er definert for alle reelle tall? $$D_f = \mathbb R$$
        Merk: $\mathbb R$ er symbolet vi bruker for mengden av alle reelle tall.
    </p>

    <p>
        Andre ganger har vi funksjoner som ikke lar seg definere for alle reelle tall.

        $$g(x) = \sqrt{4-2x}$$

        Det vi vet om kvadratrot-funksjonen, er at den ikke er definert for negative tall (*).
        Men den er definert for alle positive tall, samt 0, så for at $g$ skal være definert
        må vi passe på at $4-2x \geq 0$. Dette skjer så lenge $-2 \leq x \leq 2$. Vi kan
        oppsummere det slik

        $$D_g = [-2, \ 2]$$

        Notasjonen med $[$ og $]$ forteller oss at både $-2$ og $2$ er med i definisjonsmengden.

        Dersom vi hadde skrevet $$(-2, \ 2)$$ med parenteser, eller med $\langle$ slike $\rangle$
        så hadde vi sagt at endepunktene IKKE er med i definisjonsmengden. Det er veldig vanlig
        i norske pensumbøker å bruke $\langle$ slike vinkelklammer $\rangle$, men internasjonalt
        er det veldig vanlig å bruke $($ parenteser $)$ i stedet, så vær oppmerksom på dette.
    </p>

    <p>
        <a href="{{ path('article', {'discipline_slug': 'algebra', 'topic':'verdimengde'}) }}">Klikk her</a>
        hvis du vil lese videre om verdimengde.
    </p>

    <p>
        <a href="{{ path('playlist', {'discipline_slug':'algebra', 'playlist_slug':'funksjoner'}) }}">Klikk her</a>
        hvis du vil se en spilleliste med noen videoer om funksjoner, alt fra hva en funksjon er
        til definisjonsmengde, verdimengde, og grunnleggende funksjonsdrøfting (nullpunkter, bunnpunkter, toppunkter).
    </p>

    <hr>

    <p>
        (*) Vel, vi KAN ta kvadratrota av negative tall. Dette er et noe man generelt lærer om etter VGS,
        og emnet kalles "komplekse tall". Hvis du er interessert i å lære om dette, så kan
        du ta en titt på videoene jeg har laga om det her:

        <a href="{{ path('playlist', {
            'discipline_slug': 'matematikk-hoyskole-universitet',
            'playlist_slug': 'komplekse-tall'
        }) }}">
            Spilleliste - Komplekse tall
        </a>
    </p>
    {% endblock %}
{% block back_url %}{{ path('home') }}{% endblock %}
