{% extends "article/base.html.twig" %}
{% block title %}Verdimengde | UDL.no{% endblock %}
{% block hero_text %}Verdimengde{% endblock %}
{% block meta_description %}
    Lær hva verdimengde er, og hvordan vi finner verdimengden til en gitt funksjon.
{% endblock %}

{% block article %}
    <p>
        La oss si du har en funksjon $f(x)$. Gitt alle tenkelige verdier du kan sette inn
        for $x$, så er verdimengden samlingen av alle tenkelige verdier $f(x)$ kan ha.
    </p>

    <p>
        Eksempel: La $f(x) = x^2 - 2x - 3$. Hvis vi ser på grafen til denne funksjonen,
        så ser vi en antydning til hva verdimengden kommer til å være.
    </p>

    <p class="lead" style="text-align: center;">
        <img src="{{ asset('img/article/verdimengde/verdimengde_graf.png') }}"
             class="article-image-half-size"
             alt="Graf til funksjonen f(x) = x^2 - 2x - 3"/>
    </p>

    <p>
        Det vi ser er at funksjonen aldri går lavere enn $-4$, men den fortsetter oppover
        i det uendelige. Med andre ord kan funksjonen produsere alle verdier fra og med $-4$,
        og opp i det uendelige.
    </p>

    <p>
        På matematisk vis kan vi notere det vi nå vet om verdimengden til $f$: $$V_f = [-4, \ \infty)$$
    </p>

    <p>
        Vi kan også se på en funksjon som er begrenset både over og under. La

        $$g(x) = 2\sin(x)$$

        Hvordan ser grafen til denne funksjonen ut?
    </p>

    <p class="lead" style="text-align: center;">
        <img src="{{ asset('img/article/verdimengde/graf_2sinx.png') }}"
             class="article-image-wide"
             alt="Grafen til funksjonen g(x)=2sinx"/>
    </p>

    <p>
        Det vi ser av denne funksjonen er at uansett hvilken verdi vi setter inn for $x$, så får vi
        alltid en verdi mellom $-2$ og $2$.
    </p>

    <p>
        Vi kan da si at verdimengden til $g$, er intervallet mellom $-2$ og $2$, så $$V_g = [-2, \ 2]$$
    </p>
{% endblock %}
